*,
*::before,
*::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
    /*background: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*border: 0;*/
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 70vh; /* Ajusta la altura según tus necesidades */
    background-color: rgb(129, 205, 255); /* Fondo de color opcional */
    filter: brightness(0.8);
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(87, 209, 128);
}

.text {
    font-family: Helvetica, sans-serif;
}

.title {
    font-size: 40px;
    color: black;
    text-align: center;
}

.chat-status {
    position: relative;
    justify-content: center;
    display: flex;
}

.chat-login {
    position: relative;
    justify-content: center;
    display: flex;
    margin-bottom: 20px; 
    margin-top: 20px;
}

.chat {
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;   
}

.chat-container {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
  }
  
  /*
  textarea {
    width: 50%;
    height: 300px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
} */

  textarea {
    width: 50%;
    height: 300px;
    border: none;
    border-radius: 20px;
    padding: 12px 12px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .textarea:focus {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 132, 255, 0.5);
  }
  
  .textarea::placeholder {
    color: #999;
  }

  .message {
    max-width: 100%;
    width: 250px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
    line-height: 1.4;
  }

  .message:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
 

  .btnSend {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

  .btnSend:hover {
    background-color: #04AA6D;
    color: white;
  } 

  .btnSend:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

.footer {
    background-color: darkslategrey;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 17px;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.footer-content {
    max-width: 1100px;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

